<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Trainee</title>
</head>
<body>
    <h1>Add Trainee</h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="name">Trainee Name</label>
            <input type="text" id="name" name="name" placeholder="Enter your name">
        </div>
        <div>
            <label for="code">Trainee Age</label>
            <input type="text" id="age" name="age" placeholder="Enter your age">
        <div>
            <label for="track">Trainee's Degree</label>
            <input type="text" id="degree" name="degree" placeholder="Enter your degree">
        </div>  
        <button type="submit">Add Trainee</button>  
    </form>
</body>
</html>