<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Delete</title>
</head>
<body>
    <h1>{{ courseDel.name }}</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Code</th>
            <th>Track</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
        <tr>
            <td>{{ courseDel.id }}</td>
            <td>{{ courseDel.name }}</td>
            <td>{{ courseDel.code }}</td>
            <td>{{ courseDel.track }}</td>
            <td>{{ courseDel.createdAt }}</td>
            <td>{{ courseDel.updatedAt }}</td>
        </tr>
    </table>
    <form method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete that course ?</p>
        <button type="submit">Delete Course</button>  
    </form>
</body>
</html>