<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Details</title>
</head>
<body>
    <h1>{{ course.name }}</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Code</th>
            <th>Track</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
        <tr>
            <td>{{ course.id }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.code }}</td>
            <td>{{ course.track }}</td>
            <td>{{ course.createdAt }}</td>
            <td>{{ course.updatedAt }}</td>
        </tr>
    </table>
    <a href="{% url 'courses' %}"> Back to courses list </a> 
</body>
</html>