<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course List</title>
</head>
<body>
    <h1>Course List</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Click here to update</th>
            <th>Click here to delete</th>
        </tr>
        {% for course in courses%}
            <tr>
                <td>
                    <a href="{% url 'coursesDetails' course.id %}">{{ course.name }}</a>
                </td>
                <td>
                    <a href="{% url 'updateCourse' course.id %}">Update: {{ course.name }}</a>
                </td>
                <td>
                    <a href="{% url 'deleteCourse' course.id %}">Delete: {{ course.name }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'addCourse' %}">Add new Course: </a> 
</body>
</html>