<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainee Details</title>
</head>
<body>
    <h1>{{ traineeDetails.name }}</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Degree</th>
        </tr>
        <tr>
            <td>{{ traineeDetails.id }}</td>
            <td>{{ traineeDetails.name }}</td>
            <td>{{ traineeDetails.age }}</td>
            <td>{{ traineeDetails.degree }}</td>
        </tr>
    </table>
    <a href="{% url 'traineesList' %}"> Back to trainee list </a> 
</body>
</html>