<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainee List</title>
</head>
<body>
    <h1>Trainee List</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Click here to update</th>
            <th>Click here to delete</th>
        </tr>
        {% for trainee in traineesList %}
            <tr>
                <td>
                    <a href="{% url 'traineeDetails' trainee.id %}">{{ trainee.name }}</a>
                </td>
                <td>
                    <a href="{% url 'updateTrainee' trainee.id %}">Update: {{ trainee.name }}</a>
                </td>
                <td>
                    <a href="{% url 'deleteTraineeSoft' trainee.id %}">Delete: {{ trainee.name }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'addTraineeForm' %}">Add new Trainee: </a> 
</body>
</html>